.container{
    width: 800px;
    background-color: rgba(192, 192, 192, 0.863);
    padding: 5px;
    text-align: center;
    font-family: sans-serif;
}
.container h1{
    font-size: 40pt;;
}
.up, .middle, .down {
    height: 250px;
    margin: 20px;
    align-items: center;
}
.up, .down{
    justify-content: space-around;
}
.up {
    display: flex;
    background-color: lightblue;
}
.middle {
    display: flex;
    background-color: pink;
    justify-content: space-evenly;
}
.down {
    display: flex;
    background-color: whitesmoke;
}
img.octocat {
    height: 200px;
}
