h1 {
    color: turquoise;
    background-color: black;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    font-family: cursive;
}
.my {
    color: white;
}
h2 {
    color: white;
    background-color: purple;
    text-align: center;
    text-decoration: none;
    font-family: monospace;
    font-style: italic;
}
h3 {
    color: blue;
    background-color: lightblue;
    text-align: right;
    text-decoration: underline;
    font-family: cursive;
}